{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="card">
    <div class="card-header">
      <h3 class="card-title">لیست کاربران</h3>
      <div class="card-tools">
        <button
          type="button"
          class="btn btn-tool"
          data-lte-toggle="card-collapse"
          title="Collapse"
        >
          <i data-lte-icon="expand" class="bi bi-plus-lg"></i>
          <i data-lte-icon="collapse" class="bi bi-dash-lg"></i>
        </button>
        <button
          type="button"
          class="btn btn-tool"
          data-lte-toggle="card-remove"
          title="Remove"
        >
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
    </div>
    <div class="card-body">
        {% for user in users %}
        <li>{{ user.username }} - {{ user.phone }} - {{ user.address }}</li>
        {% empty %}
        <li>کاربری موجود نیست.</li>
        {% endfor %}
    </div>
    <!-- /.card-body -->
    <div class="card-footer">Pagenations</div>
    <!-- /.card-footer-->
  </div>
{% endblock %}


